<!--Make a partials template for the footer and navbar-->
        <nav class="navbar navbar-expand-lg text-white navbar-dark bg-primary">

                <div class="col-2">

                    <a class="navbar-brand" href="#">Léxi</a>

                </div>
            
          
                <!--Hide these link options if you are on the login page-->
                <!--
                <div class="col-10 float-right text-white">

                    <a class="d-inline nav-link text-white float-right" href="#">Home <span class="sr-only">(current)</span></a>
                  
                    <a class="d-inline nav-link text-white float-right" href="#">Link</a>

                    <a class="d-inline nav-link text-white float-right" href="#">Link</a>
                

                </div>-->
                  
                
             
            <!--there was a </div> here that a deleted-->
          </nav>

          <div class="row">

            
              <div class="col-3 jumbotron  w-25 ml-5 mt-5 d-inline-block">
                <div class="container">
                  <h1 class="display-4">Chat With Peace of Mind</h1>
                  <p class="lead mt-3">Léxi is an online realtime chat application that allows users to chat securely knowing that their information is not being sold to third parties. Try it now</p>
                </div>
              </div>
              
              <div class="col-4 d-inline">

                <form id = "loginForm" class="mx-auto w-75 mt-5 border rounded p-5 bg-light">
                    <h4 class="mb-4 mt-1">Log In</h4>

                    <div class="form-group">
                      <label for="exampleFormControlInput1">Email</label>
                      <input type="email" class="form-control" id="loginEmail" placeholder="">
                    </div>

                   

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Password</label>
                        <input type="password" class="form-control" id="loginPassword" placeholder="">
                    </div>

                   
                    <button type="submit" class="btn btn-primary">Sign in</button>

                  </form>
              </div>

              <div class="col-4 d-inline">
                
                <form id = "registerForm" class="mx-auto w-75 mt-5 border rounded p-5 bg-light">
                    <h4 class="mb-4 mt-1">Register</h4>

                    <div class="form-group">
                      <label for="exampleFormControlInput1">Email</label>
                      <input type="email" class="form-control" id="registerEmail" placeholder="">
                    </div>

                   
                    <div class="form-group">
                      <label for="exampleFormControlInput1">User Name</label>
                      <input type="username" class="form-control" id="registerUserName" placeholder="">
                    </div>
                    

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Password</label>
                        <input type="password" class="form-control" id="registerPassword" placeholder="">
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>

                   
                   
                    

                </form>
                
              </div>

          </div>
        

          <footer class="row mt-5 bg-primary"  style="position:fixed; left: 0; bottom:0; width: 100%;">
              <div class="logout text-white ml-5 ">

                <a class="logout d-inline nav-link text-white float-right" href="/">Logout</a>
              </div>
          </footer>

          <!--<script src="/index1.js"></script>-->

              